<h1>管理者画面 お知らせ新規投稿</h1>

<%= form_with model: @notification, url: admin_notifications_path, locale: true do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %>
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.submit "送信" %>
  </p>
<% end %>